.parallax {
  height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  margin-top: 40px;
}

.user-picture {
  max-width: 275px;
  height: 275px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -175px;
}

.user-verified-infos {
  margin-top: 100px;
  h2 {
  margin-top: 0;
  margin-left: 10%
}
  .p-infos {
    margin-bottom: 10px;
  }
}

h2 {
  margin-left: 10%;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0
}

#verified-infos {
  font-size: 30px;
  text-align: center;
}

p {
  margin-right: 50%;
  margin-left: 10%;
  margin-top: 31px;
}

#previous-booking {
  height: 50%;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 10%;

}

.p-infos {
  margin-left: 20px;
}

.edit-profile-button {
  background-color: $pearcolor;
  padding: 10px;
  margin-left: 20%;
  border-radius: 2px;
  justify-content: center;
  a {
    color: #ffffff;
  }
}

#my-bookings {
  font-size: 40px;
  margin-bottom: 40px;
}

.inbox_info-header {
  text-align: center;
  width: 300px;
  border: 1px solid lightgray;
}
