.flat-photo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
// .flat-content {
//   background-color: white;
//   width: 300px;
// }

.flat-content h3 {
  font-size: 23px;
}
