<h1>Enter information for new flat</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <%= simple_form_for [@booking] do |f|%>

    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>


    </div>
  </div>
</div>

<%= link_to "Go back to flat", to: flat_path(@flat) %>
