
<!-- <div class="card">
  <a class="card-link" href="#" ><div class="bg-img"></div></a>
    <div class="content">
      <p class= "city-name">Barcelona</p>
      <h4>Apartment in Gótico</h4>
      <ul class="list-inline">
        <li><div class="flat-price"><p><i class="fas fa-euro-sign"></i> 159 per night</p></div></li>
        <li><div class= "flat-num-guests"><p><i class="fas fa-users"></i> 3 </p></div>
     </ul>
    </div>
  </div>
 -->
