
  <form action="/flats/results" method="get">
    <div class="home-form-dates side-by-side-form">

        <div class="home-form-arrival">
          <label for="arrival">Arrival</label> <br>
          <input class="date" type="date" name="arrival">
        </div>

        <div class="home-form-departure">
          <label for="departure">Departure</label> <br>
          <input class ="date" type="date" name="departure">
        </div>

    </div>
    <div class="side-by-side-form">
      <div class="home-form-city">
        <input type="string" name="city" placeholder="What city?">
      </div>
      <div class="home-form-quantity">
        <input type="integer" name="guests" placeholder="How many are you?">
      </div>
    </div>


    <input class="home-form-button" type="submit">
  </div>
</form>

