<div class="navbar-socksup">
  <!-- Logo -->
  <a href="/" class="navbar-socksup-brand">
    <%= image_tag "pear-logo.png", alt: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-socksup-right hidden-xs hidden-sm">
    <a href="" class="navbar-socksup-item navbar-socksup-link">Become a Host</a>
    <a href="" class="navbar-socksup-item navbar-socksup-link">Sign </a>
    <a href="" class="navbar-socksup-item navbar-socksup-link">Log In</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-socksup-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-socksup-dropdown-menu">
        <li><a href="#">Become a Host</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </div>
  </div>
</div>
