
  <h3 class="text-center inbox-title">Your Trips</h3>
  <div class="inbox">
    <p><%@user.bookings.reverse_order.each do |b|%></p>
    <div class="inbox-card-visitor">
      <div style="margin: 0 auto;">
        <div class="sm-flat-img" style="background-image: url('<%= b.flat.photos[0] %>');">
        </div>
        <div class="big">
          <%= "#{b.flat.name}"%>
        </div>
      </div>
      <div class="inbox-info">
        <div class="big">
          <%= "#{b.flat.city}"%>
        </div>
        <div class="small"> <%= "#{b.check_in.strftime("%B %d, %Y")} - #{b.check_out.strftime("%B %d, %Y")}" %>
        </div>
      </div>
      <div class="inbox-info">
        <div class="big">
          <% if b.status == false%>
          <div class="pending">Pending</div>
          <% else %>
            <div class="confirmed">
            Confirmed
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr width="50%">
    <% end %>
  </div>

