<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%), url('https://images.unsplash.com/photo-1458236987605-990022dbce63?ixlib=rb-0.3.5&s=2861a43390eb22e6aee5a0701c562cba&auto=format&fit=crop&w=1051&q=80');">
  <div class="banner-content">
    <h1>Easy, Fast, Global Lodging</h1>
    <p>(Also, pears)</p>
    <%= render "shared/home-form" %>

  </div>
</div>
