.mapboxgl-popup {
  width: 185px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  div{
    height: 170px;
    background-size: inherit;
  }
  img {
    border-radius: 5px;
  }
  p {
    font-size: 1.2em;
    padding-top: 10px;
  }
}


.main-container {
  display: flex;
}


#map {
  flex: 0 0 500px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.horizontal {
  #map {
    height: 600px;
    width: 75vw;
    margin: 50px auto;
  }
}
